@font-face {
  font-family: 'Maven Pro';
  src: url("../fonts/MavenPro-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato-Regular.ttf") format('truetype');
}
//url("../fonts/Lato-Thin.ttf") format('truetype'),
//url("../fonts/Lato-Bold.ttf") format('truetype');

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway-Bold.ttf") format('truetype');
}