$main-color: #6caae4;
$white: #fff;
$black: #000;
$text-light-gray: #767676;
$video-header: #222222;
$video-text: #777777;
$feature-container-bg: #f5f5f5;
$feature-header-color: #333740;
$feature-text-color: #83888f;
$feature-desc-color: #5b5f64;
$form-text-color: #35393b;
$form-element-border: #e7e7e7;
$input-text: #1f2126;
$placeholder: #afafaf;
$subscribe-header: #26292c;
$subscribe-border: #dbd8d8;
$subscribe-info: #8c8f94;