@import "../variables/variables.scss";

@mixin display-flex {
  display: flex;
}

@mixin flexbox-values ($justify-content: center, $align-items: center, $flex-direction: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin blue-button ($font-size, $width) {
  background-color: #6caae4;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: $font-size;
  outline: none;
  width: $width;

  @extend %maven-pro-bold;
}

@mixin usp-box-header($font-size) {
  color: #3e3e3e;
  font-size: $font-size;
  text-transform: uppercase;

  @extend %maven-pro-bold;
}

@mixin usp-box-desc-text($font-size) {
  color: #767676;
  font-size: $font-size;

  @extend %lato-regular;
}
