@import "../fonts/fonts.scss";

// Families
%maven-pro-bold {
    font-family: 'Maven Pro';
    font-weight: bold;
}

%maven-pro-regular {
    font-family: 'Maven Pro';
    font-weight: normal;
}

%maven-pro-medium {
    font-family: 'Maven Pro';
    font-weight: 500;
}

%lato-light {
    font-family: 'Lato Light';
    font-weight: 300;
}

%lato-regular {
    font-family: 'Lato Regular';
    font-weight: 500;
}

%raleway-bold {
    font-family: 'Raleway Bold';
    font-weight: 700;
}

// Sizes
$hamburger-item-height-xs: 0.3rem;
$hamburger-item-width-xs: 2.4rem;
$hamburger-trigger-height-xs: $hamburger-item-height-xs * 6;

// Logo
$logo-size-mobile: 2.9rem;
$logo-size-desktop: 2.4rem;
$logo-footer-size-mobile: 3.6rem;
$logo-footer-size-desktop: 2.4rem;

// Cart
$cart-icon-size-mobile: 2rem;
$cart-icon-size-desktop: 1.3rem;

// Product name
$product-name-fs-mobile: 1.6rem;
$product-name-fs-desktop: 1.3rem;
$product-name-footer-fs-mobile: 2rem;
$product-name-footer-fs-desktop: 1.3rem;

// Menu
$menu-item-fs-desktop: 0.9rem;

// Main pre-header
$customer-number-desktop: 1.9rem;

// Main product title
$product-title-mobile: 2.5rem;
$product-title-desktop: 2.9rem;

// Product description
$product-description-mobile: 1.3rem;
$product-description-desktop: 1.5rem;

// Product list
$product-list-item-mobile: 1rem;
$product-list-item-desktop: 1.2rem;

// Check icon
$check-icon-mobile: 1.8rem;
$check-icon-desktop: 2rem;

// Product image
$product-image-mobile: 24rem;
$product-image-desktop: 26.2rem;

// Buy now button
$buy-now-button-mobile: 1.4rem;
$buy-now-button-desktop: 1.1rem;

// Buy item text
$buy-item-description-mobile: 0.9rem;
$buy-item-description-desktop: 0.7rem;

// Usp header
$usp-header-fs-mobile: 1.4rem;
$usp-header-fs-desktop: 0.9rem;

// Usp text
$usp-text-fs-mobile: 1.2rem;
$usp-text-fs-desktop: 0.8rem;

// Video sizes
$video-height-mobile: 21.4rem;
$video-height-desktop: 31.7rem;

// Video text sizes
$video-header-fs-mobile: 2.1rem;
$video-header-fs-desktop: 2rem;
$video-text-fs-mobile: 1rem;
$video-text-fs-desktop: 1.2rem;

// Button
$watch-button-fs-mobile: 1rem;
$watch-button-fs-desktop: 0.8rem;

// Feature block
$feature-header-fs-mobile: 1.9rem;
$feature-header-fs-desktop: 2rem;
$feature-text-fs-mobile: 1.1rem;
$feature-text-fs-desktop: 1.1rem;
$feature-name-fs-mobile: 1rem;
$feature-name-fs-desktop: 1.3rem;
$feature-desc-fs-mobile: 0.8rem;
$feature-desc-fs-desktop: 1.1rem;

$feature-img-size-mobile: 13.2rem;
$feature-img-size-desktop: 19.3rem;

// Form
$form-header-fs-mobile: 1.2rem;
$form-header-fs-desktop: 1.7rem;
$form-label-fs-mobile: 0.9rem;
$form-label-fs-desktop: 1rem;

// Submit button
$submit-button-fs-mobile: 1.2rem;
$submit-button-fs-desktop: 0.9rem;

// Subscribe block
$subscribe-header-fs-mobile: 1.5rem;
$subscribe-header-fs-desktop: 1.7rem;
$subscribe-placeholder-fs-mobile: 1.3rem;
$subscribe-placeholder-fs-desktop: 1rem;

// Subscribe button
$subscribe-button-fs-mobile: 1rem;
$subscribe-button-fs-desktop: 0.7rem;

$subscribe-info-fs-mobile: 1.3rem;
$subscribe-info-fs-desktop: 0.9rem;

// Footer
$footer-text-fs-mobile: 1.3rem;
$footer-text-fs-desktop: 0.9rem;

$footer-header-fs-mobile: 1.1rem;
$footer-header-fs-desktop: 0.7rem;

// Review bloxk
$map-img-size-desktop-xs: 55.3rem;
$map-img-size-desktop-s: 53.3rem;

$review-header-desktop: 2rem;

$review-text-fs-desktop: 0.9rem;
