@import "../fonts/fonts.scss";

// Families
%maven-pro-bold {
    font-family: 'Maven Pro';
    font-weight: bold;
}

%maven-pro-regular {
    font-family: 'Maven Pro';
    font-weight: normal;
}

%maven-pro-medium {
    font-family: 'Maven Pro';
    font-weight: 500;
}

%lato-light {
    font-family: 'Lato Light';
    font-weight: 300;
}

%lato-regular {
    font-family: 'Lato Regular';
    font-weight: 500;
}

%raleway-bold {
    font-family: 'Raleway Bold';
    font-weight: 700;
}

// Sizes
$hamburger-item-height-xs: 0.3rem;
$hamburger-item-width-xs: 2.4rem;
$hamburger-trigger-height-xs: $hamburger-item-height-xs * 6;

//$hamburger-item-height-s: 6px;
//$hamburger-item-width-s: 36px;
//$hamburger-trigger-height-s: $hamburger-item-height-s * 5;

$logo-size-mobile-xs: 2.9rem;
$logo-size-s: 3.6rem;

$logo-size-desktop-xs: 2.4rem;
//$logo-size-s: 57px;
$logo-size-l: 71px;

$cart-icon-size-mobile-xs: 2rem;
$cart-icon-size-desktop-xs: 1.3rem;
$cart-icon-size-s: 30px;
$cart-icon-size-m: 40px;

$cart-counter-size-xs: 15px;
$cart-counter-size-s: 26px;

$product-name-fs-mobile-xs: 1.6rem;
$product-name-fs-desktop-xs: 1.3rem;
$product-name-fs-s: 2rem;
//$product-name-fs-s: 27px;
$product-name-fs-m: 40px;

$menu-item-fs-desktop-xs: 0.9rem;
$menu-item-fs-s: 18px;
$menu-item-fs-m: 26px;

$customer-number-text-xs: 24px;
$customer-number-text-s: 28px;
$customer-number-text-m: 37px;
$customer-number-text-l: 56px;

$product-title-xs: 2.5rem;
$product-title-s: 38px;
$product-title-m: 43px;
$product-title-l: 50px;
$product-title-xl: 58px;
$product-title-xxl: 86px;

$product-description-xs: 1.3rem;
$product-description-s: 18px;
$product-description-m: 22px;
$product-description-l: 26px;
$product-description-xl: 30px;
$product-description-xxl: 45px;

$product-list-item-xs: 1rem;
$product-list-item-s: 16px;
$product-list-item-m: 18px;
$product-list-item-l: 21px;
$product-list-item-xl: 24px;
$product-list-item-xxl: 36px;

$check-icon-xs: 1.8rem;

$buy-now-button-xs: 1.4rem;
$buy-now-button-s: 16px;
$buy-now-button-m: 21px;
$buy-now-button-l: 25px;
$buy-now-button-xl: 32px;

$buy-item-description-xs: 0.9rem;
$buy-item-description-s: 10px;
$buy-item-description-m: 13px;
$buy-item-description-l: 17px;
$buy-item-description-xl: 20px;

$usp-header-fs-xs: 1.4rem;
$usp-header-fs-s: 27px;

$usp-text-fs-xs: 1.2rem;
$usp-text-fs-s: 23px;

$video-height-xs: 21.4rem;
$video-width-xs: 32.1rem;

$video-header-fs-xs: 2.1rem;
$video-header-fs-s: 42px;

$video-text-fs-xs: 1rem;
$video-text-fs-s: 21px;

$watch-button-fs-xs: 1rem;
$watch-button-fs-s: 21px;

$feature-header-fs-xs: 1.9rem;

$feature-text-fs-xs: 1.1rem;

$feature-name-fs-xs: 1rem;

$feature-desc-fs-xs: 0.8rem;

$form-header-fs-xs: 1.2rem;

$form-label-fs-xs: 0.9rem;

$submit-button-fs-xs: 1.2rem;

$subscribe-header-fs-xs: 1.5rem;

$subscribe-placeholder-fs-xs: 1.3rem;

$subscribe-button-fs-xs: 1rem;

$subscribe-info-fs-xs: 1.3rem;

$footer-desc-fs-xs: 1.3rem;

$footer-header-fs-xs: 1.1rem;
