@import "../variables/variables.scss";
@import "../colors/colors.scss";
@import "../mixins/mixins.scss";

.feature {
  background-color: $feature-container-bg;
  padding: 30px 30px 36px 9px;

  @media screen and (min-width: 640px) {
    padding: 60px 18px 72px 18px;
  }

  .feature-header {

    h2 {
      color: $feature-header-color;
      font-size: $feature-header-fs-xs;
      letter-spacing: 0.24px;
      margin-bottom: 25px;
      margin-left: 17px;
      text-transform: uppercase;

      @extend %maven-pro-regular;
    }

    span {
      color: $feature-text-color;
      display: block;
      font-size: $feature-text-fs-xs;
      letter-spacing: 0.14px;
      margin-bottom: 20px;
      margin-left: 17px;

      @extend %lato-light;
    }
  }

  .feature-img-block {
    margin-right: 16px;

    img {
      height: auto;
      width: 132px;
    }
  }

  .border {
    background-color: $main-color;
    border-radius: 2px;
    height: 18px;
    margin-right: 12px;
    width: 4px;

  }

  .description-container {
    @include display-flex;
    @include flexbox-values (center, flex-start);
  }

  .feature-desc-container {
    margin-top: 13px;
  }

  .desc-container {
    &:not(:last-child) {
      margin-bottom: 38px;
    }

    .name-block {
      @include display-flex;
      @include flexbox-values(flex-start);
    }

    .feature-name {
      color: $feature-header-color;
      font-size: $feature-name-fs-xs;
      letter-spacing: 0.25px;
      text-transform: uppercase;

      @extend %maven-pro-bold;
    }

    .feature-desc {
      color: $feature-desc-color;
      font-size: $feature-desc-fs-xs;
      margin-top: 10px;

      @extend %lato-regular;
    }
  }

  .feature-desc-col_right {
    margin-bottom: 38px;
  }

  .feature-desc-col_left {
    .desc-container:first-child {
      display: none;
    }
  }
}