@import "../variables/variables.scss";
@import "../colors/colors.scss";
@import "../mixins/mixins.scss";

.feature {
  background-color: $feature-container-bg;
  padding: 3rem 0.9rem;

  //@media screen and (min-width: 640px) {
  //  padding: 60px 18px 72px 18px;
  //}

  .feature-header {

    h2 {
      color: $feature-header-color;
      font-size: $feature-header-fs-xs;
      letter-spacing: 0.024rem;
      margin-bottom: 2.5rem;
      margin-left: 1.7rem;
      text-transform: uppercase;

      @extend %maven-pro-regular;
    }

    span {
      color: $feature-text-color;
      display: block;
      font-size: $feature-text-fs-xs;
      letter-spacing: 0.014rem;
      margin-bottom: 2rem;
      margin-left: 1.7rem;

      @extend %lato-light;
    }
  }

  .feature-img-container {
    margin-right: 1.7rem;

    img {
      height: auto;
      width: 13.2rem;
    }
  }

  .border {
    background-color: $main-color;
    border-radius: 2px;
    height: 1.8rem;
    margin-right: 1.2rem;
    width: 0.4rem;

  }

  .description-container {
    @include flexbox-values (center, flex-start);
  }

  .feature-desc-container {
    margin-top: 1.3rem;
  }

  .desc-container {
    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }

    .name-container{
      @include flexbox-values(flex-start);
    }

    .feature-name {
      color: $feature-header-color;
      font-size: $feature-name-fs-xs;
      letter-spacing: 0.25px;
      text-transform: uppercase;

      @extend %maven-pro-bold;
    }

    .feature-desc {
      color: $feature-desc-color;
      font-size: $feature-desc-fs-xs;
      margin-top: 10px;

      @extend %lato-regular;
    }
  }

  .feature-desc-col_right {
    margin-bottom: 3.5rem;
  }

  .feature-desc-col_left {
    .desc-container:first-child {
      display: none;
    }
  }
}