@import "../variables/variables.scss";
@import "../colors/colors.scss";
@import "../mixins/mixins.scss";

.header {
    background-color: $white;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 1.2rem 2rem;

    @media screen and (min-width: 960px) {
        box-shadow: none;
        padding: 1.6rem 0;

        @include flexbox-values;
    }

    .container {
        @include flexbox-values(space-between);
    }

    .header-right {
        @include flexbox-values;
    }

    .menu-container {
        display: none;

        @media screen and (min-width: 960px) {
            @include display-flex;
        }
    }

    .menu-list {
        @include display-flex;

        .menu-list-item {
            margin-right: 2.4rem;
        }

        a {
            color: $black;
            font-size: $menu-item-fs-desktop-xs;
            text-decoration: none;
            transition: opacity 200ms;

            @extend %maven-pro-bold;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .any-question-button {
        display: none;
        margin-left: 2.4rem;
        padding: 0.8rem 0;

        @include blue-button(0.8rem, 10.9rem);

        &:hover {
            opacity: 0.8;
        }

        @media screen and (min-width: 960px) {
            display: block;
        }
    }

    .menu-trigger {
        height: $hamburger-trigger-height-xs;

        @include display-flex;
        @include flexbox-values(space-between, center, column);

        @media screen and (min-width: 960px) {
            display: none;
        }
    }

    .hamburger-item {
        background-color: #2d2e30;
        border-radius: 2px;
        height: $hamburger-item-height-xs;
        width: $hamburger-item-width-xs;
    }

    .logo-container {
        @include flexbox-values;
    }

    .logo {
        margin-right: 1.5rem;

        @media screen and (min-width: 960px) {
            margin-right: 1.8rem;
        }

        img {
            height: auto;
            width: $logo-size-mobile-xs;

            @media screen and (min-width: 960px) {
                width: $logo-size-desktop-xs;
            }
        }
    }

    .product-name {
        margin-top: 0.5rem;

        span {
            font-size: $product-name-fs-mobile-xs;
            text-transform: uppercase;

            @extend %maven-pro-bold;

            @media screen and (min-width: 960px) {
                font-size: $product-name-fs-desktop-xs;
            }
        }

        .product-name-thin {
            font-weight: normal;
        }
    }

    .cart-container {
        position: relative;

        .cart-image {
            img {
                width: $cart-icon-size-mobile-xs;

                @media screen and (min-width: 960px) {
                    width: $cart-icon-size-desktop-xs;
                }
            }
        }

        .cart-items-counter {
            background-color: $main-color;
            border-radius: 0.8rem;
            color: $white;
            font-size: 1rem;
            padding: 0.2rem 0.5rem;
            position: absolute;
            right: -0.8rem;
            text-align: center;
            top: -0.5rem;

            @extend %maven-pro-bold;

            @media screen and (min-width: 940px) {
                font-size: 0.7rem;
                padding: 0.3rem 0.5rem;
                top: -0.7rem;
            }
        }
    }
}
