@import "../variables/variables.scss";
@import "../colors/colors.scss";
@import "../mixins/mixins.scss";

.main {
  background-color: $white;
  padding: 27px 20px;

  @media screen and (min-width: 640px) {
    padding: 55px 40px;
  }

  @media screen and (min-width: 1025px) {
    padding: 35px 0 0 150px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 182px;
  }

  @media screen and (min-width: 1440px) {
    padding: 98px 0 112px 220px;
  }

  @media screen and (min-width: 1920px) {
    padding: 32px 0 149px 291px;
  }

  @media screen and (min-width: 2380px) {
    padding: 47px 0 224px 455px;
  }
  
  .main-container {
    position: relative;

    @include display-flex;
    @include flexbox-values(center, center, column);

    @media screen and (min-width: 1025px) {
      display: block;
    }
  }

  .left-container {
    @media screen and (min-width: 1025px) {
      @include display-flex;
      @include flexbox-values(flex-start, flex-start);
    }
  }

  .row-container {
    @media screen and (min-width: 1025px) {
      margin-right: 60px;
      margin-top: 63px;
    }

    @media screen and (min-width: 1120px) {
      margin-right: 120px;
    }

    @media screen and (min-width: 1180px) {
      margin-right: 180px;
    }

    @media screen and (min-width: 1240px) {
      margin-right: 210px;
    }

    @media screen and (min-width: 1240px) {
      margin-right: 165px;
    }

    @media screen and (min-width: 1320px) {
      margin-right: 230px;
    }

    @media screen and (min-width: 1440px) {
      margin-right: 155px;
    }

    @media screen and (min-width: 1600px) {
      margin-right: 230px;
      margin-top: 90px;
    }

    @media screen and (min-width: 1600px) {
      margin-right: 207px;
      margin-top: 84px;
    }

    @media screen and (min-width: 2380px) {
      margin-right: 90px;
      margin-top: 126px;
    }

    @media screen and (min-width: 2540px) {
      margin-right: 160px;
    }

    @media screen and (min-width: 2850px) {
      margin-right: 310px;
    }
  }

  .customers-number {
    display: none;
    font-size: $customer-number-text-xs;
    margin-bottom: 6px;

    @extend %maven-pro-regular;

    .customer-text-thin {
      @extend %lato-light;
    }

    @media screen and (min-width: 1025px) {
      display: block;
    }

    @media screen and (min-width: 1440px) {
      font-size: $customer-number-text-s;
      margin-bottom: 15px;
    }

    @media screen and (min-width: 1920px) {
      font-size: $customer-number-text-m;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 2380px) {
      font-size: $customer-number-text-l;
    }
  }

  .product-title {
    font-size: $product-title-xs;
    text-transform: uppercase;

    @extend %maven-pro-bold;

    @media screen and (min-width: 640px) {
      font-size: $product-title-l;
    }

    @media screen and (min-width: 1025px) {
      font-size: $product-title-s;
    }

    @media screen and (min-width: 1440px) {
      font-size: $product-title-m;
    }

    @media screen and (min-width: 1920px) {
      font-size: $product-title-xl;
    }

    @media screen and (min-width: 2380px) {
      font-size: $product-title-xxl;
    }
  }

  .product-desc-container {
    font-size: $product-description-xs;
    margin: 18px 0 23px 0;

    @extend %lato-light;

    @media screen and (min-width: 640px) {
      font-size: $product-description-l;
      margin: 34px 0 49px 0;
    }

    @media screen and (min-width: 1025px) {
      font-size: $product-description-s;
      margin: 20px 0 35px 0;
    }

    @media screen and (min-width: 1440px) {
      font-size: $product-description-m;
      margin: 25px 0 40px 0;
    }

    @media screen and (min-width: 1920px) {
      font-size: $product-description-xl;
    }

    @media screen and (min-width: 2380px) {
      font-size: $product-description-xxl;
      margin: 40px 0 65px 0;
    }
  }

  .product-list-container {
    font-size: $product-list-item-xs;
    @extend %maven-pro-medium;

    @media screen and (min-width: 640px) {
      font-size: $product-list-item-l;
    }

    @media screen and (min-width: 1025px) {
      font-size: $product-list-item-s;
    }

    @media screen and (min-width: 1440px) {
      font-size: $product-list-item-m;
    }

    @media screen and (min-width: 1920px) {
      font-size: $product-list-item-xl;
    }

    @media screen and (min-width: 2380px) {
      font-size: $product-list-item-xxl;
    }

    .product-item {
      position: relative;
      margin-bottom: 13px;
      padding-left: 30px;

      &::before {
        background-image: url("./../images/check-icon.png");
        background-size: cover;
        content: '';
        height: 13px;
        left: 0;
        position: absolute;
        top: 0;
        width: 17px;

        @media screen and (min-width: 640px) {
          height: 25px;
          width: 35px;
        }

        @media screen and (min-width: 1025px) {
          height: 20px;
          width: 28px;
        }

        @media screen and (min-width: 1440px) {
          height: 23px;
          width: 31px;
        }

        @media screen and (min-width: 1920px) {
          height: 30px;
          width: 41px;
        }

        @media screen and (min-width: 2380px) {
          height: 45px;
          width: 61px;
        }
      }

      @media screen and (min-width: 640px) {
        margin-bottom: 26px;
        padding-left: 64px;
      }

      @media screen and (min-width: 1025px) {
        margin-bottom: 20px;
        padding-left: 50px;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 24px;
        padding-left: 57px;
      }

      @media screen and (min-width: 1920px) {
        padding-left: 76px;
      }

      @media screen and (min-width: 2380px) {
        padding-left: 112px;
      }
    }
  }

  .product-image {
    margin-top: 28px;
    margin-bottom: 30px;
    padding-left: 40px;

    @media screen and (min-width: 640px) {
      padding-left: 78px;
      margin-top: 57px;
      margin-bottom: 61px;
    }

    @media screen and (min-width: 1025px) {
      margin: 0;
      padding: 0;
    }

    img {
      display: block;
      height: auto;
      width: 240px;

      @media screen and (min-width: 640px) {
        width: 480px;
      }

      @media screen and (min-width: 1025px) {
        width: 393px;
      }

      @media screen and (min-width: 1180px) {
        width: 410px;
      }

      @media screen and (min-width: 1280px) {
        width: 420px;
      }

      @media screen and (min-width: 1440px) {
        width: 450px;
      }

      @media screen and (min-width: 1600px) {
        width: 500px;
      }

      @media screen and (min-width: 1600px) {
        width: 524px;
      }

      @media screen and (min-width: 2380px) {
        width: 786px;
      }

    }
  }

  .buy-now-button-container {
    @include display-flex;
    @include flexbox-values(center, center, column);

    @media screen and (min-width: 1025px) {
      bottom: 56px;
      margin-top: 15px;
      position: absolute;

      @include flexbox-values(center, flex-start, column);
    }

    @media screen and (min-width: 1600px) {
      bottom: 120px;
    }

    @media screen and (min-width: 1920px) {
      bottom: 55px;
    }

    @media screen and (min-width: 2380px) {
      bottom: 90px;
    }

    .buy-now-button {
      padding: 17px 0;
      text-transform: uppercase;

      @include blue-button($buy-now-button-xs, 270px);

      @extend %maven-pro-bold;

      @media screen and (min-width: 640px) {
        font-size: $buy-now-button-l;
        padding: 34px 0 38px 0;
        width: 538px;
      }

      @media screen and (min-width: 1025px) {
        border-radius: 3px;
        font-size: $buy-now-button-s;
        padding: 17px 0;
        width: 269px;
      }

      @media screen and (min-width: 1920px) {
        font-size: $buy-now-button-m;
        padding: 22px 0;
        width: 359px;
      }

      @media screen and (min-width: 2380px) {
        border-radius: 5px;
        font-size: $buy-now-button-xl;
        padding: 33px 0;
        width: 538px;
      }
    }

    .buy-item-description {
      font-size: $buy-item-description-xs;
      margin-top: 10px;

      @extend %maven-pro-medium;

      @include display-flex;
      @include flexbox-values;

      @media screen and (min-width: 640px) {
        font-size: $buy-item-description-l;
        margin-top: 18px;
      }

      @media screen and (min-width: 1025px) {
        font-size: $buy-item-description-s;
        margin-top: 7px;

        @include flexbox-values;
      }

      @media screen and (min-width: 1920px) {
        font-size: $buy-item-description-m;
        margin-top: 12px;
      }

      @media screen and (min-width: 2380px) {
        font-size: $buy-item-description-xl;
        margin-top: 18px;
      }
    }
  }
}