@import "../variables/variables.scss";
@import "../colors/colors.scss";
@import "../mixins/mixins.scss";

.main {
  background-color: $white;

  @media screen and (min-width: 960px) {
    @include flexbox-values;
  }

  .main-container {
    margin-top: 4px;
    padding: 2.4rem 2rem;

    @media screen and (min-width: 960px) {
      margin-top: 0;
      padding: 2.2rem 2.3rem 7.5rem 4.2rem;
    }
  }

  .left-container {
    @media screen and (min-width: 960px) {
      @include flexbox-values(space-between, flex-start);
    }
  }

  .row-container {
    @media screen and (min-width: 960px) {
      margin-top: 4.2rem;
    }
  }

  .customers-number {
    display: none;
    font-size: $customer-number-desktop-xs;
    margin-bottom: 0.7rem;

    @extend %maven-pro-regular;

    .customer-text-thin {
      @extend %lato-light;
    }

    @media screen and (min-width: 960px) {
      display: block;
    }
  }

  .product-title {
    font-size: $product-title-mobile-xs;
    margin-bottom: 1.7rem;
    text-transform: uppercase;

    @extend %maven-pro-bold;

    @media screen and (min-width: 960px) {
      font-size: $product-title-desktop-s;
      margin-bottom: 0.6rem;
    }
  }

  .product-desc-container {
    font-size: $product-description-mobile-xs;
    margin-bottom: 2.3rem;

    @extend %lato-light;

    @media screen and (min-width: 960px) {
      font-size: $product-description-desktop-s;
      margin-bottom: 2.2rem;
    }
  }

  .product-list-container {
    font-size: $product-list-item-mobile-xs;

    @extend %maven-pro-medium;

    @media screen and (min-width: 960px) {
      font-size: $product-list-item-desktop-s;
    }

    .product-item {
      margin-bottom: 1rem;

      @media screen and (min-width: 960px) {
        margin-bottom: 1.1rem;
      }

      img {
        height: auto;
        margin-right: 1.5rem;
        width: $check-icon-mobile-xs;

        @media screen and (min-width: 960px) {
          margin-right: 1.7rem;
          width: $check-icon-desktop-xs;
        }
      }
    }
  }

  .product-image {
    margin-top: 2.9rem;
    padding-left: 4rem;

    @media screen and (min-width: 960px) {
      margin: 0;
      padding: 0;
    }

    img {
      display: block;
      height: auto;
      width: $product-image-mobile;

      @media screen and (min-width: 960px) {
        width: $product-image-desktop;
      }
    }
  }

  .buy-now-button-container {
    margin-bottom: 0.8rem;
    margin-top: 3.1rem;

    @include flexbox-values(center, center, column);

    @media screen and (min-width: 960px) {
      margin: 0;
      position: relative;
      top: -8.2rem;

      @include flexbox-values(center, flex-start, column);
    }

    .buy-now-button {
      padding: 1.8rem 0;
      text-transform: uppercase;

      @include blue-button($buy-now-button-mobile-xs, 27rem);

      @extend %maven-pro-bold;

      @media screen and (min-width: 960px) {
        border-radius: 2px;
        font-size: $buy-now-button-desktop-s;
        padding: 1rem 0;
        width: 17.9rem;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .buy-item-description {
      font-size: $buy-item-description-mobile-xs;
      margin-top: 0.9rem;

      @extend %maven-pro-medium;

      @include flexbox-values;

      @media screen and (min-width: 960px) {
        font-size: $buy-item-description-desktop-s;
        margin-top: 0.6rem;

        @include flexbox-values;
      }
    }
  }
}