@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeue.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h3, p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 1400px;
}

.grey-line {
    border-bottom: 4px solid #d7d7d7;;
}

.uppercased {
    text-transform: uppercase;
}

.text-dark-grey {
    color: #22252c;
}

.text-light-grey {
    color: #334454;
}

/* Header */
.header {
    padding-top: 137px;
}

.title-container {
    padding-bottom: 26px;
}

.resume {
    justify-content: center;
    margin-bottom: 18px;
}

.page-title {
    font-family: 'Bebas Neue Book', cursive;
    font-size: 62px;
    justify-content: center;
    letter-spacing: 2px;
}
.border-lines {
    justify-content: center;
}

/* Contacts */

.contacts-container {
    align-items: center;
    padding: 41px 0 57px 0;
    width: 72%;
}

.contacts-title-container {
    align-items: center;
    position: relative;
    width: 30.5%;
}

.position-title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 7.5px;
    position: relative;
}

.yellow-block {
    background-color: #ffc600;
    height: 115px;
    width: 209px;
}

.position-left {
    position: absolute;
    left: 99px;
}

.address {
    font-size: 19px;
    font-weight: 300;
    padding: 0 29px 0 24px;
}

.phone-container {
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    letter-spacing: 0.45px;
    padding: 20px 25px 20px 14px;
}

.phone {
    margin-bottom: 21px;
}

.phone-number{
    padding-left: 13px;
}

.fax-icon {
    vertical-align: bottom;
}

.fax-number {
    padding-left: 7px;
}

.mail-container {
    font-size: 20px;
    letter-spacing: 1.28px;
    padding-left: 28px;
}

.website {
    margin-bottom: 29px;
}

.site-icon {
    vertical-align: bottom;
}

.site-name {
    padding-left: 17px;
}

.email-to {
    padding-left: 14px;
}

/* Main */

.main {
    padding-top: 100px;
}

.main-content-container {
    font-size: 28px;
    font-weight: 300;
}

.letter-to {
    padding-top: 96px;
    padding-right: 106px;
    width: 24%;
}

.main-content {
    padding-right: 50px;
    width: 76%;
}

.main-content h3{
    margin-bottom: 55px;
}

.main-content p {
    margin-bottom: 30px;
}

.sign {
    margin: 61px 0 382px 250px;
}

/* Footer */

.footer {
    margin-bottom: 130px;
    text-align: center;
}
