%input-style {
  color: rgba(0, 0, 0, 0.7);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
}

.registration-form {
  background-color: #2f3640;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;

  .container {
    background-color: #f5f6fa;
    border-radius: 5px;
    padding: 50px;
    width: 450px;
  }

  h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
  }

  input {
    @extend %input-style;
  }

  .form-element-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label, span {
      color: rgba(0, 0, 0, 0.7);
      font-size: 18px;
      margin-bottom: 8px;
    }

    span {
      margin: 0;
    }
  }

  .form-element {
    border: 1px solid #e0e0e0;
    display: block;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 10px;
    width: 100%;
  }

  .city-select {
    background-color: #fff;
    border-radius: 0;

    @extend %input-style;
  }

  .radio-buttons-container {
    margin-top: 10px;

    .radio-container {
      margin-bottom: 5px;
    }
  }

  .submit-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .submit-button {
      background-color: #2f3542;
      border-radius: 2px;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      outline: none;
      padding: 14px 0;
      text-transform: uppercase;
      width: 240px;

      &:hover {
        opacity: 0.8;
      }
    }

    .remember-me {
      margin-top: 8px;
    }
  }
}

